<h1>Клиенты</h1>

<a class="btn btn-primary" href="/add" role="button">Add</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Имя / Компания</th>
      <th scope="col">Телефон</th>
      <th scope="col">Дата создания</th>
    </tr>
  </thead>
  <tbody>
    {{#each Clients}}
    <tr onclick="window.location.href='/card/{{this._id}}'; return false">
      <td class="hover-td">{{this.companyName}}</td>
      <td class="hover-td">{{this.phone}}</td>
      <td class="hover-td">{{this.createdAt}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
