<h1>Clients</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each Clients}}
    <tr onclick="window.location.href='/card/{{this._id}}'; return false">
      <th scope="row">N order</th>
      <td>{{this.companyName}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.createdAt}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>